<h1>ZERO CALORIE BURGERS</h1>

<div class="container m-5">

  <div class="row">

    {{!-- uneaten burgers --}}
    <div class="col">
      <h2>ready to eat</h2>
      {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{id}}" method="POST">
                <button type="submit" class="readyToEat"> {{burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
    </div>
    
    {{!-- devoured burgers --}}
    <div class="col">
      <h2>devoured</h2>
      {{#each burgers}}
          {{#if devoured}}
            <div class="burgerDevoured">
              <div>
                {{burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
    </div>

  </div>

  <div class="row add-burger">
    
    <div class="col">
    
      <div class="card my-3">
        <div class="card-body">
          <h4 class="card-title">Add a Burger:</h4>
          <div class="card-text">
            <form class="add-burger-form" action="/burgers" method="POST">
              <div class="form-group">
                <label for="burger-input">Burger Name:</label>
                <input type="text" id="burger-input" name="burger_name">
              </div>
              <button type="submit" class="btn btn-lg btn-outline-success rounded-2">Place Your Order</button>
            </form>
          </div>
        </div>
      </div>
  
  </div>
  </div>
</div>



